@using WebApplication1.ViewModels
@model CreateEmployeeViewModel
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    CreateEmployee
}

@section HeaderSection{
    <script>
        function ResetForm() {
            document.getElementById("txtFirstName").value = "";
            document.getElementById("txtLastName").value = "";
            document.getElementById("txtSalary").value = "";
        }
    </script>
    <script src="~/Scripts/ValidationCreateEmployee.js"></script>
}

@section ContentBody{
    <div>
        <form action="/Employee/SaveEmployee" method="post" id="formEmployee">
            <table>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" id="txtFirstName" name="FirstName" value="@Model.FirstName" /><br /></td>
                </tr>
                <tr>
                    <td colspan="2" align="right">@Html.ValidationMessage("FirstName")</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" id="txtLastName" name="LastName" value="@Model.LastName" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="right">@Html.ValidationMessage("LastName")</td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td><input type="text" id="txtSalary" name="Salary" value="@Model.Salary" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="right">@Html.ValidationMessage("Salary")</td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" name="btnSave" value="Save Employee" onclick="return IsValid();" />
                        <input type="button" name="btnReset" value="Reset" onclick="ResetForm()" />
                        <input type="button" name="btnSave" value="Cancel" onclick="document.getElementById('formCancel').submit()" />
                    </td>
                </tr>
            </table>
                
        </form>

        <form action="/Employee/CancelSave" method="get" id="formCancel" style="display:none"></form>
    </div>
}

